torch/images/*
torch/check_points/*
torch/logs/*
torch/__pycache__/*
torch/pred_images/*
torch/*.h5
torch/runs/*
torch/*.pth
torch/pass_images/*
torch/failed_images/*
torch/pred_fail/*
torch/pred_pass/


tf/images/*
tf/check_points/*
tf/logs/*
tf/__pycache__/*
tf/pred_images/*
tf/*.h5
tf/runs/*
tf/*.pth
tf/images


