# =================All =======================
**/*.jpg
**/.gitignore
# ===============pytorch forlder ====================
torch/__pycache__/*

torch/check_points/*
torch/runs/*
torch/old_csv/*
#torch/shared/*

torch/images/*
torch/pred_images/*
torch/pass_images/*
torch/failed_images/*
torch/pred_fail/*
torch/pred_pass/*

torch/**/*.h5
torch/*.pth



# ===============tensorflow forlder ====================
tf/images/*
tf/check_points/*
tf/logs/*
tf/__pycache__/*
tf/pred_images/*
tf/*.h5
tf/runs/*
tf/*.pth
tf/images


