torch/images/*
torch/check_points/*
torch/logs/*
torch/__pycache__/*
torch/pred_images/*
torch/*.h5
torch/runs/*


tf/images/*
tf/check_points/*
tf/logs/*
tf/__pycache__/*
tf/pred_images/*
tf/*.h5
tf/runs/*
